version: "3.8"
services:
  db:
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  pgadmin:
    restart: always
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin4@pgadmin.org
      PGADMIN_DEFAULT_PASSWORD: admin@quizy
    ports:
      - "5050:80"
    depends_on:
      - db
  backend:
    restart: always
    build:
      context: ./backend
      target: start-dev
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    depends_on:
      - db
  frontend:
    restart: always
    build:
      context: ./frontend
      target: start-prod
    volumes:
      - ./frontend:/app
    ports:
      - "3000:80"
    depends_on:
      - backend
volumes:
  postgres_data:
