# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# CSV
*.csv